/* Color Styles */
.black{
  color: #000000;
}
.black-back{
  background: #000000;
}
.black-text{
  color: black;
}
.burntorange{
  color: #f08669;
}
.daisy-back{
  background: url(../images/william-morris-daisy-sm.png);
}
.grey{
  color: #adadad;
}
.grey-back{
  background: #adadad;
}
.lightblue{
  color: #69d3f0;
}
.lightblue-back{
  background: #69d3f0;
}
.mint-back{
  background: #ccff98;
}
.periwinkle{
  color: #69a6f0;
}
.periwinkle-back{
  background: #69a6f0;
}
.pom-back{
  background: url(../images/william-morris-pom-sm.png);
}
.white{
  color: #fdfdfd
}
.white-back{
  background: #fdfdfd
}

/* Styles */
.animatable {
  visibility: hidden;
  animation-play-state: paused;
}
.animated {
  visibility: visible;
  animation-fill-mode: forwards;
  animation-duration: 4.2s;
  animation-play-state: running;
}
.animated.bounceInRight {
  animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -webkit-animation-name: bounceInRight;
}
.animated.bounceInLeft {
	animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -webkit-animation-name: bounceInLeft;
}
.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.block {
  color: #fdfdfd;
  text-align: center;
}
body{
  margin: 0px;
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		transform: translateX(20px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}
	60% {
		transform: translateX(-20px);
	}
	80% {
		transform: translateX(5px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Blocks */
#about-block{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block h2{
  margin: 0px;
}
.fa-file-download, .fa-github, .fa-envelope-square{
  font-size: 2em;
  text-decoration: none;
  color: #000;
  padding: 5px;
}
.fa-file-download:hover, .fa-github:hover,.fa-envelope-square:hover{
  color: grey;
}

#hello{
  margin: 0 auto;
}
#intro-block{
  background-color: #000000;
  height: 100%;
  width: 100%;
  display: block;
}
#intro-bottom{
  width: 80%;
  margin-top: 5px;
  justify-content: center;
}
#intro-bottom a{
  align-self: center;
}
#intro-mid{
  align-items: center;
  display: inline-flex;
  justify-content: center;
  float: right;
  width: 100%;
}
#intro-mid h2, #intro-mid p{
  padding: 20px;
}
#intro-top{
  align-items: center;
  display: inline-flex;
  width: 80%;
}
#occupation{
  border-left: 1px solid black;
}
#profile-image{
  height:100%;
}
#portfolio-block{
  text-align: center;
}
#portfolio-block .block{
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
.subtext{
  font-size: 1.1em!important;
}

@media (min-height: 0px) and (min-width: 0px) {
  #about-block div{
    padding: 5%;
    width: 40%;
  }
  .block h2{
    font-size: 1.5em;
  }
  .block p{
    font-size: 1.0em;
  }
  .block a{
    font-size: 1.0em;
  }
}
@media (min-height: 400px) and (min-width: 350px) {
  .block h2{
    font-size: 2.5em;
  }
  .block p{
    font-size: 1.8em;
  }
  .block a{
    font-size: 1.8em;
  }
}
@media (min-height: 550px) and (min-width: 425px) {
  .block h2{
    font-size: 3.3em;
  }
  .block p{
    font-size: 2em;
  }
  .block a{
    font-size: 2em;
  }
}
@media (min-height: 550px) and (min-width: 650px) {
  #about-block div{
    width: 15%;
    padding: 15px;
  }
}
