/* General */
*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #9faebf;
}
header {
    text-align: center;
    font-size: 1.8em;
    color: #426fa7  ;
}
@media only screen and (max-width: 700px) {
    header {
        font-size: 1.6em;
    }
  }

p{
    font-size: 1em;
}
header, div#nav-menu {
    min-height: 20vh;
    max-height: 25vh;
}


/* The landing display styles  */
div#main{
    max-width: 100%;
    /* height: 100vh; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

div.technology-list{
    /* display: inline-flex; */
    text-align: center;
    font-size: 1em;
}
div.technology-list ul li{
    display: inline-block;
    padding: 5px;
}

/* Profile Image */
img#portfolio-image{
    min-width: 40vw;
    max-width: 40vw;
    width: 100%;
    border-radius: 0 75% 75% 0;
    border: 10px inset #426fa7;
}

div#portfolio-image-box{
    height: 40vh;
}

ul#profile-topics{
    list-style-type: none;
    margin: .5em 0 .5em 0;  
}


div.display{
    display: none;
    /* max-width: 55vw; */
    min-width: 55vw;
    color: #426fa7;
}

/* Choose a topic */
div#topic-box{
    font-size: 1.8em;
}

div.show-topic{
    display: block;
    background-color: #d5dae1;
    border-color: #426fa7;
    border-width: 12px;
    border-style: ridge;
    margin: 0 auto;
    padding: 10px;    
    max-width: 50%;  
}

div.show-topic h2{
    text-align: center;
}

/* Topics shown */
div#display-topics{
}
div#display-technologies{
    text-align: center;
}   

div#contact-subdisplay{
    text-align: center;
}

span.contactLink{
    font-weight: bolder;
}
span.contactLink:hover{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

div#display-portfolio{
    text-align: center
}

div#portfolio-box{
}

div.portfolio-unknown-item{
    display: inline-block;
    padding: 100px 50px;
    border: 2px dashed black;
    vertical-align: top;
}

div.portfolio-item{
    display: inline-block;
}

div.portfolio-item:hover{
    background-color: #9faebf;
    cursor: pointer;
    border: 3px double black;
}

div.portfolio-item img{
    width: 185px;
    height: 200px;
}

img#githubJacob:hover{
    background-color: yellow;
    cursor: pointer;
}

/* Auto underline the topics */

li.topic {
    text-decoration: none;
    color: #426fa7;
    z-index: 1;
    position: relative;
    margin: 3%;
    cursor: pointer;
}
  
li.topic:before {
    content: "";
    position: absolute;
    width: 150px;
    height: 4px;
    bottom: 0;
    left: 0;
    background:#426fa7;
    visibility: hidden;
    border-radius: 2px;
    transform: scaleX(.1);
    transition: .35s linear;
}
li.topic:hover:before,
li.topic:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

/* Icons */
div#contact-icons-box, div#tech-icons{
    text-align: center;
}
div#contact-icons-box *, div#tech-icons *{
    margin: 2%;
    margin: 2%;
    fill: #426fa7;
    width: 50px;
    display: inline-block;
}

div.icons, div#githubJacob{
    fill: #426fa7;
    width: 50px;
    display: inline-block;
}

div#contact-icons-box div.icons:hover, div#githubJacob:hover{
    background-color: #9faebf;
    cursor: pointer;
}
