#modal-nav,
#modal-contact {
  display: none;
}

.modal-overlay {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  margin: 0vh auto;
  border-radius: 100%;
  padding: 15vh;
  width: 25vw;
  height: 25vh;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

#portfolio,
#contact {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 3em;
}

#modal-contacts {
  display: flex;
  flex-direction: row;
}
.modal-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  margin: 5vh auto;
  border-radius: 100%;
  padding: 5vh;
  width: 50%;
  max-width: 265px;
  font-size: 0.9em;
  height: 15vh;
  visibility: hidden;
  opacity: 0;
  transition: visibility 5s, opacity 0.2s ease-in-out;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
#email:hover {
  text-decoration: underline;
  color: blue;
}

#email {
  overflow-wrap: break-word;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
#email > span {
  font-size: 0.8em;
}

.showContact {
  visibility: visible;
  opacity: 1;
}

.modal-footer {
  background: #1ce;
  padding: 10px;
  color: #fff;
  text-align: center;
}

#modalClose {
  font-size: 30px;
  color: #fff;
  float: right;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #e439ef;
  text-decoration: none;
  cursor: pointer;
}

#modal-nav .modal-content .modal-body {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

@media screen and (max-width: 480px) {
  #modal-contacts {
    display: flex;
    flex-direction: column;
  }

  .modal-contact {
    width: 15vh;
    font-size: 0.9em;
  }
  .modal-body {
    padding: 0px;
  }
  #email {
    font-size: 1.1em;
  }
  #email > span {
    font-size: 0.8em;
  }
}
