#modal-nav,
#modal-contact {
  display: none;
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 15vh auto;
  border-radius: 100%;
  padding: 15vh;
  width: 25vw;
  height: 25vh;
}

.modal-body {
  padding: 10px 20px;
}

.modal-footer {
  background: #1ce;
  padding: 10px;
  color: #fff;
  text-align: center;
}

#modalClose {
  font-size: 30px;
  color: #fff;
  float: right;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #e439ef;
  text-decoration: none;
  cursor: pointer;
}

#modal-nav .modal-content .modal-body {
  display: flex;
  flex-direction: column;
}
