html,
body {
  margin: 0;
  padding: 0;
}
/* ********* Navigation ********* */
nav {
  display: none;
}
.nav-show {
  display: flex;
}
#nav-box {
  position: sticky;
  top: 0;
}
#nav {
  height: 50px;
  width: 50px;
  border: 3px solid black;
  margin-left: 91vw;
  margin-top: 10px;
}
#nav:hover,
#nav:active,
#nav:focus {
  border: 2px dotted purple;
  outline: none;
}
/* ***************************    **** */
/* ********* Title ********* */
#title-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
#title-box {
  background-color: black;
  padding: 5px;
  color: white;
}
#myName {
  font-size: 4.5em;
  font-family: Poppins;
  text-align: center;
  font-weight: 600;
}

#myFlavor {
  font-size: 2em;
  text-align: center;
  font-family: poppins;
  font-weight: 500;
}
#aboutButtons {
  display: flex;
  justify-content: center;
}

#aboutButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  background: transparent;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
}

#aboutButton:active,
#aboutButton:focus {
  outline: 0;
}
#square {
  width: 25px;
  height: 25px;
  background-color: red;
}

#square.down {
  transition: padding-top 0.75s linear;
  transition-delay: 0.003s;
  padding-top: 564px;
  position: absolute;
}

#triangle {
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid red;
  transition: margin-top 0.75s linear;
}
#triangle.down {
  margin-top: 586px;
  position: absolute;
}
/* End Title */
/* Bio */
#bio-page {
  height: 100vh;
  font-family: poppins;
  font-weight: normal;
}
#about {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  padding: 8px;
  justify-content: space-between;
}
#about-doily {
  width: 76vw;
  height: 77vh;
  z-index: -1;
  position: absolute;
  border: 1px solid black;
}

#myAbout {
  margin-left: 33%;
  background-color: cornflowerblue;
  padding: 2vw;
}

.iconBox {
  display: inline-flex;
  padding: 5px;
}
#myPhoto {
  height: 250px;
  width: 238px;
  margin: 5px;
}
.icon {
  width: 25px;
  padding: 2px;
  cursor: pointer;
}
.gitHubIcon,
.linkedInIcon,
.emailIcon {
  width: 50px;
  padding: 2px;
}
@media screen and (max-width: 480px) {
  #myPhoto,
  #photoBox {
    align-self: flex-end;
    margin-right: 8vw;
  }

  #about-doily {
    width: 92vw;
    margin-top: 1vh;
    height: 66vh;
    z-index: -1;
    position: absolute;
    border: 1px solid black;
    margin-left: 5vw;
  }

  #myAbout {
    width: 92vw;
    margin-left: 2vw;
  }

  #nav {
    margin-left: 85%;
  }
  .iconBox {
    margin-left: 5vw;
  }
  #triangle.down {
    transition: margin-top 0.75s linear, border-top 0.35s linear;
    border-top: '32px solid blue';
    margin-top: 532px;
    position: absolute;
  }
  #square.down {
    transition: padding-top 0.75s linear;
    /* transition-delay: 0.003s; */
    padding-top: 510px;
    position: absolute;
  }
}
