body{
    margin: 0;
    padding: 0;
}

div#resources-main{
    display: flex;
}

div.column{
    height: 100vh;
    padding: 8px;
}

div#topics-col{
    background-color: #426fa7;
    width: 30vw;
}
div#sites-col{
    background-color: #9faebf;
    width: 40vw;
}
div#notes-col{
    background-color: lightgrey;
    width: 30vw;
}

ul{
    list-style-type: none;
}

ul.sites{
    display: none;
}

div.topics-col ul{
    text-align: center;
}

li.topic{
    text-align: left;
    font-size: 1.7em;
    color: #000;
}

li.topic:hover{
    cursor: pointer;
    background-color: blanchedalmond;   
}

li.site{
    font-size: 1.3em;
    text-align: right;  
}

li.note{
    display: none;
}

input[type="radio"]{
    margin-left: 15px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: blanchedalmond;   
}
a:visited{
    text-decoration: none;
}