body{
    margin: 0;
    padding: 0;
}

div#resources-main{
    display: flex;
}

div.column{
    height: 100vh;
    padding: 8px;
}

div#topics-col{
    background-color: #426fa7;
    width: 30vw;
}
div#sites-col{
    background-color: #9faebf;
    width: 40vw;
}
div#notes-col{
    background-color: lightgrey;
    width: 30vw;
}

ul{
    list-style-type: none;
}

ul.sites{
    display: none;
}

div.topics-col ul{
    text-align: center;
}

li.topic{
    text-align: left;
    font-size: 1.5em;
}

li.topic:hover{
    background-color: yellow;   
}

li.site{
    font-size: 1.2em;
    text-align: right;  
    /* display: flex; */
}

li.note{
    display: none;
}

input[type="radio"]{
    margin-left: 15px;
}