#info {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
}

/* Info */
.portfolio-info-heading {
  text-align: center;
}
.portfolio-info-heading,
.portfolio-info-body {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* Nav */
#info-toggle {
  cursor: pointer;
  display: inline-flex;
}
#info-toggle:hover,
.forward:hover,
.previous:hover {
  background-color: grey;
}

#nav-box {
  display: flex;
  max-height: 15vh;
}
#nav-box > * {
  flex: 1 1 0;
  justify-content: center;
}

a.forward {
  text-align: right;
}
a.forward,
a.previous {
  max-width: 33%;
}

.forward i,
.previous i,
a#info-toggle i {
  font-size: 2.5em;
}

@media only screen and (max-width: 768px) {
  .forward i,
  .previous i,
  a#info-toggle i {
    font-size: 4rem;
  }
  a#infoToggle i {
    font-size: 4rem;
  }
}

/* Projects */
.g-clef-div3 {
  color: lightblue;
  padding: 16px;
  font-size: 1.3em;
}

.portfolio-info-heading {
  font-size: 3em;
}
.drumkit-nav {
  font-size: 1.6em;
  text-align: center;
  padding: 12px;
}
