body {
  transition: background-color 0.5s;
  justify-content: space-between;
}

#info {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
}

/* Info */
.portfolio-info-heading {
  text-align: center;
}
.portfolio-info-heading,
.portfolio-info-body {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* Nav */
#info-toggle {
  cursor: pointer;
  display: inline-flex;
}
#info-toggle:hover,
.forward:hover,
.previous:hover {
  background-color: grey;
}

#nav-box {
  display: flex;
  align-self: flex-end;
}

#nav-box * {
  width: 100%;
  text-align: center;
}

.g-clef-div3 {
  color: lightblue;
  padding: 16px;
  font-size: 1.3em;
}

.portfolio-info-heading {
  font-size: 3em;
}
.drumkit-nav {
  font-size: 1.6em;
  text-align: center;
  padding: 12px;
}
