body{
    padding: 5vw;
}
header{
    text-align: center;
    border-bottom: 8px ridge #426fa7;
    display: inline-flex;
}
header img{
    display: inline-block;
    width: 150px;
    height: 100px;
}
div#blog-intro{
    display: inline-block;
    margin-left: 5%;
    text-align: left;
    width: 70%;
}

div#article-viewer{
    float: left;
    width: 50%;
}

div#article-nav-box {
    float: right;
    width: 40%;
    margin-top: 15vh;
    height: 100%;
    border: 8px ridge #426fa7;
}

 div#article-list {
    display: grid;
}

div#article-list div{
    display: inline-block;
    margin-left: 10px;
    font-size: 1.3em;
} 

div#article-list div li{
    list-style-type: none;
    margin-left: 50px;
    margin-bottom: 15px;
}
div#article-list div div:hover, div#article-list div span:hover{
    cursor: pointer;
}

div#article-list div li:hover{
    background-color: yellow;
    cursor: pointer;
}