@font-face {
  font-family: "StaffClefPitchesEasy";
  src: url("./font/StaffClefPitchesEasy.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./font/StaffClefPitchesEasy.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("./font/STAFCP_.TTF") format("truetype"); /* Safari, Android, iOS */
}
#scale {
  font-family: "StaffClefPitchesEasy";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 5.5em;
}

body,
html {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: space-between;
}

#musicBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tone {
  color: black;
  font-size: 1.3rem;
  margin: 0;
  line-height: 50px;
  animation: tone 3.75s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes tone {
  from {
    transform: translateY(-50%);
  }
  38% {
    opacity: 1;
  }
  42% {
    transform: translateY(-735%);
    color: red;
  }
  60% {
    opacity: 0;
    transform: translateY(-935%);
    color: red;
  }
  62% {
    transform: translateY(-1100%);
    color: white;
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.portfolio-info-heading {
  font-size: 5em;
}

@media only screen and (max-width: 768px) {
  #scale {
    font-size: 6em;
  }
  #randomNote,
  #muteBox {
    font-size: 2em;
  }
  input[type="checkbox"] {
    margin-top: 15px;
    width: 2em;
    height: 2em;
  }

  .tone {
    font-size: 4em;
  }

  @keyframes tone {
    from {
      transform: translateY(-250%);
    }
    38% {
      opacity: 1;
    }
    42% {
      transform: translateY(-835%);
      color: red;
    }
    60% {
      opacity: 0;
      transform: translateY(-935%);
      color: red;
    }
    62% {
      transform: translateY(-1300%);
      color: white;
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }
}
