@font-face {
  font-family: "StaffClefPitchesEasy";
  src: url("./font/StaffClefPitchesEasy.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./font/StaffClefPitchesEasy.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("./font/STAFCP_.TTF") format("truetype"); /* Safari, Android, iOS */
}
#scale {
  font-family: "StaffClefPitchesEasy";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 3.5em;
}

body,
html {
  display: flex;
  height: 100%;
  /* align-items: center; */
  flex-flow: column nowrap;
  justify-content: space-between;
}

#musicBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 95vh; */
}

.tone {
  color: black;
  font-size: 1.3rem;
  margin: 0;
  line-height: 50px;
  animation: tone 3.75s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes tone {
  from {
    transform: translateY(-50%);
  }
  38% {
    opacity: 1;
  }
  42% {
    transform: translateY(-435%);
    color: red;
  }
  60% {
    opacity: 0;
    transform: translateY(-535%);
    color: red;
  }
  62% {
    transform: translateY(-900%);
    color: white;
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.portfolio-info-heading {
  font-size: 5em;
}
