html {
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
}

body {
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.hand {
  width: 33%;
  height: 4px;
  background: black;
  position: absolute;
  top: 33%;
  transform-origin: 0%;
}

.oneSide {
  transform: rotate(180deg);
}

.theOther {
  transform: rotate(360deg);
}

#bpmBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10%;
}

.count {
  font-size: 2em;
  height: 50px;
}

label #tempoLabel {
  margin-right: 5px;
}
input#tempo {
  font-size: 1em;
}
.beatBox {
  display: flex;
  flex-direction: column;
}
.beatButtons {
  display: flex;
  align-items: center;
}
input[type="radio"] {
  height: 1.7em;
  width: 1.7em;
}
.beatBox label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.portfolio-info-body {
  font-size: 0.8em;
}

/* Special Nav */
#nav-box {
  align-self: stretch;
}
