html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.metronome {
  display: flex;
  justify-content: center;
}

.hand {
  width: 25%;
  height: 4px;
  background: black;
  position: absolute;
  top: 33%;
  transform-origin: 0%;
}

.oneSide {
  transform: rotate(180deg);
}

.theOther {
  transform: rotate(360deg);
}

#bpmBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10%;
}

.count {
  font-size: 3em;
  height: 50px;
}

label #tempoLabel {
  margin-right: 5px;
}
input#tempo {
  font-size: 1.1em;
}
.beatBox {
  display: flex;
  flex-direction: column;
}
.beatButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
}
input[type="radio"] {
  height: 1.7em;
  width: 1.7em;
}
.beatBox label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.portfolio-info-body {
  font-size: 1.3em;
}

/* Special Nav */
#nav-box {
  align-self: stretch;
}

@media only screen and (max-width: 768px) {
  .portfolio-info-heading {
    font-size: 2em;
  }
  .portfolio-info-body {
    font-size: 1.25em;
  }
}
