p {
  font-size: 2.5rem;
}
.contact{
  background-color: #d3d3d3;
}
.education{
  background-color: #bdbdbd;
}
.experience{
  background-color: #7e7e7e;
}
.index{
  background-color: #d3d3d3;
}
.nav {
  background-color: lightblue;
}
.page{
  width: 100%;
  height: 100%;
}
.portfolio{
  background-color: #545454;
}
